.Post2 {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 60px;
}
.Post-user2 {
  display: flex;
  padding: 16px;
  align-items: center;
}
.Post-user-avatar2 {
  width: 30px;
  height: 30px;
}
.Post-user-avatar2 img {
  width: 200%;
  height: 200%;
  border-radius: 100%;
}
.Post-user-nickname2 {
  margin-left: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.Post-image-bg2 {
  background-color: #efefef;
}
.Post-image2 img {
  display: block;
  width: 100%;
}
.Post-caption2 {
  padding: 16px 35px;
}
.userhandle2 {
  padding: 10px 40px;
}
.bin {
  padding: 10px 18px;
}
.Post-caption2 strong {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.vjs-fade-out {
  display: none;
  visibility: hidden;
  opacity: 0;
}
